body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center; /* This centers the content horizontally */
    align-items: center; /* This centers the content vertically */
    text-align: center; /* This ensures the text within the header is centered */
}


header h1 {
    margin: 0;
    text-align: center; /* Center the text within the h1 */
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

aside {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

aside a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

aside a:hover {
    background-color: #ddd;
}

main {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.language-section {
    flex: 1;
    margin: 0 10px;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.language-section h2 {
    margin-bottom: 20px;
    color: #3498db;
}

.term {
    margin-bottom: 10px;
    padding: 10px 0;
}
